<div class="header-bg">
  <header class="header" id="header">
    <div class="container header-container">
      <div class="header-components">
        <h2 class="header-logo">Focus.Frame</h2>
        <div class="header-camera-bg">
          <svg class="camera">
            <use xlink:href="../images/header/header.svg#camera"></use>
          </svg>
        </div>
        <svg class="hamburger">
          <use xlink:href="../images/header/header.svg#hamburger"></use>
        </svg>
        <nav class="header-nav">
          <ul class="header-nav-ul">
            <li><a href="#aboutus">ABOUT US</a></li>
            <li><a href="#ourcourses">OUR COURSES</a></li>
            <li><a href="#ourmentors">OUR MENTORS</a></li>
            <li><a href="#reviews">REVIEWS</a></li>
            <li><a href="#contacts">CONTACTS</a></li>
          </ul>
        </nav>
      </div>
      <a class="header-sign-up-button">SING Up</a>
    </div>
    <section class="hero">
      <div class="container hero-container">
        <div class="hero-comp">
          <div class="hero-text">
            <h1>
              Discover the magic of
              <span>photography</span> in our school
            </h1>
            <p class="hero-text-desc">
              Our photography school offers an unforgettable journey, where you
              can learn the basics of composition, master technical skills,
              translate your unique ideas.
            </p>
          </div>
          <div class="hero-block">
            <div class="hero-block-students">
              <div class="hero-block-students-img">
                <img src="../images/header/girl1.png" alt="" />
                <img src="../images/header/boy.png" alt="" />
                <img src="../images/header/girl.png" alt="" />
              </div>
              <div class="hero-block-students-link">
                <a href="#reviews">
                  <p class="hero-block-students-link-ref">Our happy students</p>
                  <svg class="hero-students-icon">
                    <use xlink:href="../images/header/header.svg#arrow"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="hero-block-reviews">
              <div class="hero-block-reviews-svg-bg">
                <svg>
                  <use xlink:href="../images/header/header.svg#star"></use>
                </svg>
              </div>
              <div class="hero-block-reviews-textAndvalue">
                <span class="hero-block-reviews-textAndvalue-text"
                  >Reviews</span
                >
                <span class="hero-block-reviews-textAndvalue-value">+1500</span>
              </div>
            </div>
          </div>
        </div>
        <div class="hero-image">
          <img src="../images//header/cameraman.png" alt="" />
        </div>
      </div>
    </section>
  </header>
</div>
