<section class="ourcourses">
  <div class="container">
    <div class="our-courses-header">
      <h2>Our<span> Courses</span></h2>
      <p>
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <div class="our-courses-main">
      <div class="our-courses-card">
        <div class="our-courses-card-header">
          <span class="our-courses-number">01</span>
          <svg class="our-courses-svg">
            <use
              href="../images/our-courses-icons.svg#icon-arrow-narrow-up-right"
            ></use>
          </svg>
        </div>
        <h3>
          Basics of <br />
          photography
        </h3>
        <p>
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </div>
      <div class="our-courses-card">
        <div class="our-courses-card-header">
          <span class="our-courses-number">02</span>
          <svg class="our-courses-svg">
            <use
              href="../images/our-courses-icons.svg#icon-arrow-narrow-up-right"
            ></use>
          </svg>
        </div>
        <h3>
          Landscape <br />
          photography
        </h3>
        <p>
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </div>
      <div class="our-courses-card">
        <div class="our-courses-card-header">
          <span class="our-courses-number">03</span>
          <svg class="our-courses-svg">
            <use
              href="../images/our-courses-icons.svg#icon-arrow-narrow-up-right"
            ></use>
          </svg>
        </div>
        <h3>
          Portrait <br />
          photography
        </h3>
        <p>
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </div>
    </div>
  </div>
</section>
