<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="review-title">Reviews</h2>
    <ul class="reviews-wrapper">
      <li class="reviews-div">
        <div class="review-card">
          <div class="review-person-info">
            <img
              class="review-person-picture"
              srcset="./images/abrahambaker.webp"
              src="./images/abrahambaker.webp"
              width="56"
              alt="Abraham Baker's photo"
            />
            <div class="review-person-info-details">
              <div class="review-person-info-texts">
                <p class="review-person-name">Abraham Baker</p>
                <p class="review-person-job">Student</p>
              </div>
              <div class="review-star-rating">
                <img
                  srcset="./images/stars@2.webp"
                  src="./images/stars.webp"
                  alt="review-start-rating"
                />
              </div>
            </div>
          </div>
          <div>
            <p class="review-person-opinion-text">
              I am very pleased that I decided to enroll in photography school.
              The teachers turned out to be very talented and experienced
              professionals who share their knowledge and are dedicated to their
              work. I was able to expand my skills and discover my own style.
            </p>
          </div>
        </div>
      </li>

      <li class="reviews-div review-card-hidden">
        <div class="review-card">
          <div class="review-person-info">
            <img
              class="review-person-picture"
              srcset="./images/amandalowery.webp"
              src="./images/amandalowery.webp"
              width="56"
              alt="Amanda Lowery's photo"
            />
            <div class="review-person-info-details">
              <div class="review-person-info-texts">
                <p class="review-person-name">Amanda Lowery</p>
                <p class="review-person-job">Student</p>
              </div>
              <div class="review-star-rating">
                <img
                  srcset="./images/stars@2.webp"
                  src="./images/stars.webp"
                  alt="review-start-rating"
                />
              </div>
            </div>
          </div>
          <div>
            <p class="review-person-opinion-text">
              I am very pleased that I decided to enroll in photography school.
              The teachers turned out to be very talented and experienced
              professionals who share their knowledge and are dedicated to their
              work. I was able to expand my skills and discover my own style.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
