.au-span {
  color: #bea69e;
}

#about-us {
  width: 100%;
  margin: 0;
  background-color: #121212;
}

.aboutus {
  padding-top: 150px;
  color: #fff;
  width: 375px;
  margin: 0 auto;
  padding-left: 20px;
}
.au-title {
  width: 335px;
  display: block;
  color: #fff;
  letter-spacing: -0.8px;
  margin: 0;
}

.au-title h2 {
  margin: 0;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}

.au-cont {
  width: 335px;
  display: block;
  gap: 20px;
  padding-top: 50px;
}
.au-image-pcbig,
.au-image-pc,
.au-image-tablet {
  display: none;
}
.au-text-first {
  width: 335px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.3px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.au-text-sec {
  margin: 0;
  width: 335px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.3px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .aboutus {
    width: 768px;
    padding-left: 32px;
  }
  .au-title {
    width: 704px;
    margin: 0;
  }

  .au-title h2 {
    font-size: 48px;
    line-height: 54px;
  }

  .au-image-mobile {
    display: none;
  }
  .au-image-tablet {
    display: block;
    width: 704px;
  }
  .au-cont {
    width: 704px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .au-images {
    display: block;
    margin-bottom: 10px;
  }
  .au-text-first {
    display: flex;
    width: 280px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.4px;
    margin: 0;
  }
  .au-text-sec {
    width: 280px;
    height: 215px;
    display: flex;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.4px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .aboutus {
    width: 1280px;
    padding-left: 100px;
  }
  .au-title {
    width: 1080px;
  }

  .au-title h2 {
    font-size: 48px;
    line-height: 54px;
  }

  .au-image-tablet,
  .au-image-mobile {
    display: none;
  }
  .au-images {
    width: 488px;
    height: 210px;
    margin-bottom: 0;
  }
  .au-image-pc {
    display: block;
  }
  .au-cont {
    display: flex;
    width: 1080px;
    gap: 20px;
  }
  .au-text-first {
    width: 268px;
    height: 260px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    line-height: 20px;
    letter-spacing: -0.4px;
  }
  .au-text-sec {
    width: 264px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.4px;
  }
}

@media (min-width: 1440px) {
  .aboutus {
    width: 1440px;
    padding-left: 100px;
  }
  .au-title {
    width: 1240px;
  }

  .au-title h2 {
    font-size: 48px;
    line-height: 54px;
  }

  .au-image-pc,
  .au-image-mobile {
    display: none;
  }
  .au-image-pcbig {
    display: block;
  }
  .au-images {
    height: 240px;
    width: 560px;
  }
  .au-cont {
    display: flex;
    width: 1240px;
    height: 240px;
    gap: 40px;
  }
  .au-text-first {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
    width: 314px;
    height: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
  }
  .au-text-sec {
    font-size: 16px;
    line-height: 20px;
    width: 276px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
}
