.adv-container {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ffffff33;
  border-bottom: 1px solid #ffffff33;
  background-color: #121212;
  color: #bea69e;
  margin: 0;
  height: 72px;
  width: 100%;
}

.adv-header {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 32px;
  width: max-content;
  position: absolute;
  animation: scroll-left 10s linear infinite;
  padding: 20px 0;
  margin: 0;
  letter-spacing: -0.02em;
}

.adv-span {
  color: #fff;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/*Tablet Stili*/
@media (min-width: 768px) {
  .adv-header {
    font-size: 40px;
    line-height: 50px;
    padding: 24px 0;
  }

  .adv-container {
    height: 98px;
  }
}

@media (min-width: 1280px) {
  .adv-header {
    font-size: 59px;
    line-height: 64px;
    animation: none;
    position: relative;
    margin: 0 auto;
  }

  .adv-container {
    height: 112px;
  }
}
